@import "tailwindcss";

:root {
  --background: #FBF8E6;
  --text-main: #000000;
  --text-btn: #FF9D00;
  --background-btn: #FFFFFF;
  --border-btn: #FF9D00;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text-main);
  --color-bg-btn: var(--background-btn);
  --color-text-btn: var(--text-btn);
  --color-border-btn: var(--border-btn);

  --font-inter: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-anon: var(--font-anon-pro), ui-monospace, SFMono-Regular, Menlo, monospace;
}
