@import "tailwindcss";

:root {
  --background: #FBF8E6;
  --text-main: #000000;
  --text-btn: #FF9D00;
  --background-btn: #FFFFFF;
  --border-btn: #FF9D00;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text-main);
  --color-bg-btn: var(--background-btn);
  --color-text-btn: var(--text-btn);
  --color-border-btn: var(--border-btn);

  --font-inter: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-anon: var(--font-anon-pro), ui-monospace, SFMono-Regular, Menlo, monospace;

  --animate-slide-in: slideInFromRight 0.5s ease-in-out forwards;

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

.error-msg{
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: red;
  align-self: center;
  justify-self: center;
  padding: 5px;
  border-radius: 15px;
}

.btn{
  background-color: var(--background-btn);
  border-color: var(--border-btn);
  font-weight: bold;
  border-width: 2px;
  border-radius: 12px;
  padding: 5px 10px;
}

.btn:hover{
  background-color: #f3f4f6;
  border-color: black;
}

.active-page{
  color: white;
  background-color: black;
}

.active-page:hover{
  color: black;
}